[Desktop Entry]
Version=1.0
Type=Link
Name=\sEntrepots mysql 
Comment=
Icon=user-bookmarks
URL=https://celene.univ-orleans.fr/mod/resource/view.php?id=423211
